.webViewContainer {
    height: 100vh;
}

.sidebar {
    width: 65px;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #333;
    border-right: 1px solid black;
}

.search {
    text-align: center;
    font: bold;
}

.search-form {
    margin-left: 5px;
    width: 94%;
    margin-bottom: 5px;
}

.searchBtn {
    display: none;
}

.secondaryMenu {
    width: 200px;
    float: left;
    height: 100vh;
    background-color: #252526; 
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
    background-color: #333
}

.fa-stack-1x {
    color: white;
}

.title, .text {
    color: white;
}

.post {
    border: 1px solid #777;
    background: #252526;
    color: beige;
    border-radius: 4px;
    box-shadow: 4px 4px 9px black;
    margin: 5px;
    color: white !important;
}

.post-col {
    padding: 0px;
}

.title-block {
    display: flex;
    align-items: center;
    padding: 3px;
    border-bottom: 1px solid #777;
}

.text {
    text-align: center;
    width: 100%;
}



.subreddit-thumb {
    margin-right: 3px;
}

.subreddit-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: smaller;
    color: white !important;
}

.subreddit-info > a {
    color: white;
}

.post-options {
    padding-right: 5px;
}

.post-block {
    display: flex;
    padding: 10px 10px 0px 10px;
}

.link {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.vote-block {
    font-size: smaller;
    border-top: 1px solid #777;
    margin: 5px 10px 0px;
}

.vote-block > span {
    margin: 0px 5px;
}

.post-options > a {
    color: white;
}

img {
    width: 100%;
    max-width: 260px;
}

.pic {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.header {
    height: 60px;
    float: right;
    border-bottom: 1px solid #252526;
}

.sneaky {
    position: absolute;
    left: 4px;
    bottom: 11px;
}

.header > .subreddit-name {
    text-align: center;
    font-size: 24px;
    font: bold;
    background-color: #333;
    color: white;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loginButton > a {
    color: #333;
}

.fa-arrow-circle-o-down:hover, .fa-arrow-circle-o-up:hover {
    color: #0077cb;
}

body {
    overflow: hidden;
    max-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.messages > a, .profile > a {
    color: #333;
}

.mess-stack {
    color: white;
}

.mess-text {
     color: white;
     width: 100%;
}

.mess-m-text {
    color: white;
    width: 100%;
    font: bold;
    text-align: center;
}

.blank-it {
    color: #446040;
}

.comment {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    color: white;
}

.commentPost {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: white;

}

.logo-color {
    color: #333;
}

.logo-color:hover {
    color: white;
}

.fa-stack:hover {
    color: #0077cb;
}