.webViewContainer {
    display: inline-flex; 
    width: 640px; 
    height: 480px
}

.sidebar {
    width: 65px;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: darkred;
}

.container {
    width: calc(100% - 65px);
    float: right;
    padding-left: 20px;
}

.post {
    width: 20%;
    border: 1px solid darkslategrey;
    border-radius: 4px;
}


.header {
    height: 40px;
    width: calc(100% - 65px);
    float: right;
}

.sidebar-main {
    color: gold; 
}

.sidebar-secondary {
    color: lightgrey;
}